{% load static %}
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>




{% include "booklistnav.html"%}




<div class="container">

<h2>About</h2>

<p>
The Library Management System is a digital platform designed to make reading and book management simple, accessible, and efficient. It allows users to create accounts, log in securely, and manage their personal library from anywhere. With features like adding new books, viewing book lists, and exploring a digital collection, the system replaces traditional record-keeping with a modern, user-friendly interface. Its responsive design ensures smooth access across devices, while the clean layout highlights the convenience of carrying an entire library in the palm of your hand. This project demonstrates the power of technology in transforming libraries into dynamic, interactive spaces for readers in the digital age.

</p>

</div>

{% include "footer.html"%}

</body>
</html>