{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Electronics Books</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>

        .card{
            margin-top:3rem;
            margin-bottom:5rem;
            box-shadow:0px 10px 15px gray;
        }

        button{
            cursor:pointer;
        }

    </style>

</head>

<body>

{% include "booklistnav.html" %}

{% include "booknav.html" %}

<div class="cards-container">

{% for n in servicesData %}

    <div class="card">

        <div class="card-image">

            <img src="{{ n.book_image.url }}" alt="">

        </div>

        <div class="card-body">

            <h3>{{ n.book_title }}</h3>

            <p>{{ n.book_des }}</p>

            <p>
                Available Books:
                {{ n.available_books }}
            </p>


            {% if user == n.user and n.is_verified %}

                {% if n.book_pdf %}

                    <a href="{{ n.book_pdf.url }}">

                        <button class="btn">
                            View PDF
                        </button>

                    </a>

                {% else %}

                    <button class="btn" disabled">
                        PDF Not Available
                    </button>

                {% endif %}


            {% elif n.available_books > 0 %}

                <a href="/rent-electronics/{{n.id}}">

                    <button class="btn">
                        Rent
                    </button>

                </a>

                <button class="btn">
                    Buy
                </button>

            {% else %}

                <button class="btn" disabled>
                    No Books Available
                </button>

            {% endif %}

        </div>

    </div>

{% empty %}

    <p>No books added yet.</p>

{% endfor %}

</div>

{% include "footer.html" %}

<script src="{% static 'js/script.js' %}"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>